{% extends "base_generic.html" %}

{% block content %}

<html>
<head>
 
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% load static %}
  <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet"> 
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
</head>

<style>
  body {
      font-family: Arial;
      font-style: italic;
         background-color: rgba(16, 255, 160, 0.259);

     
   
    }
 
  h3{
    font-family: cursive;
    background-color: rgba(163, 107, 255, 0.8);

  }
  

  h5{
    font-family: cursive;
    background-color: rgba(43, 43, 43, 0.8);

  }

  footer{

    float: center;
  text-align: center;
  }
  h3{
  font-family: cursive;
  background-color: rgba(163, 107, 255, 0.8);
}
  hr{  
   background-color: rgb(255, 0, 0);
 }

 #images
 {
  height:500px; 
  width: 100%;

 }

 #logo{
  height:100%; 
  width: 50%;

 }

</style>
{% load static %}
<body img src="{% static 'images/coctel.jpg' %}" id="page-top">
  <br> <br><br><br><br><br><br><br>
  
  <br> <br><br><br><br><br><br><br>
<div  id="carousel1"  class="carousel slide carousel-fade" data-ride="carousel">

  <ol class="carousel-indicators" >
   
    <li data-target="#carousel1"  data-slide-to="0" class=""></li>
    <li data-target="#carousel1" data-slide-to="1"></li>
    <li data-target="#carousel1" data-slide-to="2"></li>
  </ol>
 
  <!-- diapositivas -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      {% load static %}
      <img src="{% static 'images/eve1.jpg' %}" alt="My image" id="images" />
        <div class="carousel-caption" >
          <div class="container">
          <h3>EVENTOS</h3>
          <h5>Celebra junto a nosotros y haz que esos importantes momentos sean inolvidables y unicos!</h5>
          </div>
        </div>
    </div>
    <div class="carousel-item">
      {% load static %}
      <img src="{% static 'images/coctel.jpg' %}" alt="My image" id="images" />
     
        <div class="carousel-caption">
          <div class="container" >
          <h3>AMBIENTES</h3>
          <h5>Contamos con amplios y comodos ambientes con una capacidad máxima de 300 personas.</h5>
          </div>
        </div>
    </div>
    <div class="carousel-item">
      {% load static %}
      <img src="{% static 'images/eve3.jpg' %}" alt="My image" id="images" />
        <div class="carousel-caption">
          <h3>PISCINA</h3>
          <h5>Tenemos una hermosa piscina y terraza para celebrar al aire libre.</h5>
        </div>
    </div>
  </div>
  <!-- botones de desplazamiento a izquierda y derecha -->      
  <a class="carousel-control-prev" href="#carousel1" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel1" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="main">
  

</div>

</body>
</html>
 {% endblock %}